<html>
  <head>
    <style>
      .mail-center {
        margin: 0 auto;
        width: 85%;
        max-width: 900px;
        padding: 20px;
        text-align: justify;
      }
      table, th, td {
        border: 1px solid black;
      }
      table.warning {
        border: 1px solid #CD0000;
      }
      table.ok {
        border: 1px solid #013220;
      }
      th, td {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="mail-center">
      <% if @results['warnings'].present? %>
        <table class='warning'>
          <thead>
            <tr colspan='2'>
              <th>Warnings</th>
            <tr>
            <tr>
              <th>Name</th>
              <th>Last added song</th>
            </tr>
          </thead>
          <tbody>
            <% @results['warning'].each do |arr| %>
              <% arr.each do |name, status| %>
                <tr>
                  <td rowspan='3'>
                    <%= name.to_s.humanize %>
                  </td>
                  <td>
                    <b>Track</b> <%= status[:track_info] %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>added</b> <%= time_ago_in_words(status[:last_created_at]) %> ago
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Total</b> <%= status[:total_created] %> items
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <table class='ok'>
          <tbody>
            <tr><td><b>No warnings. Hooray!</b></td></tr>
          </tbody>
        </table>
      <% end %>
      
      <br />
      
      <% if @results['ok'].present? %>
        <table>
          <thead>
            <tr colspan='2'>
              <th>OK</th>
            <tr>
            <tr>
              <th>Name</th>
              <th>Last added song</th>
            </tr>
          </thead>
          <tbody>
            <% @results['ok'].each do |arr| %>
              <% arr.each do |name, status| %>
                <tr>
                  <td rowspan='3'>
                    <%= name.to_s.humanize %>
                  </td>
                  <td>
                    <b>Track</b> <%= status[:track_info] %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>added</b> <%= time_ago_in_words(status[:last_created_at]) %> ago
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Total</b> <%= status[:total_created] %> items
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <table class='warning'>
          <tbody>
            <tr><td><i>All radio stations have warnings</i></td></tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </body>
</html>
