<li class="flex flex-col md:flex-row items-center mb-1 shadow-md transition duration-300 hover:bg-slate-300 p-1 rounded-md">
  <div class="w-16">
    <!-- image container -->
    <div class="h-16 bg-center bg-no-repeat w-16 relative origin-center rounded-l-md" style="background-image: url(<%= image_url(artist.spotify_artwork_url) %>)">
      <!-- Text Container -->
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="text-white text-center">
          <div class="chart-number"><%= (item_index(idx, params[:page].to_i)).to_s.rjust(3, '0') %></div>
        </div>
      </div>
    </div>
  </div>

  <!-- text section -->
  <div class="flex-grow md:ml-2">
    <h4 class="text-md font-semibold"><%= artist.name %></h4>
  </div>

  <!-- Buttons -->
  <div class="w-full md:w-64 space-x-2 md:order-1">
    <div class="flex items-center justify-center">
      <!-- spotify icon -->
      <button class="flex-1 flex items-center justify-center py-3 bg-slate-100 rounded-bl-md">
        <%= link_to artist.spotify_artist_url, target: 'blank' do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="168px" width="168px" version="1.1" viewBox="0 0 168 168" class="h-8 w-8 ml-1">
            <path fill="#1ED760" d="m83.996 0.277c-46.249 0-83.743 37.493-83.743 83.742 0 46.251 37.494 83.741 83.743 83.741 46.254 0 83.744-37.49 83.744-83.741 0-46.246-37.49-83.738-83.745-83.738l0.001-0.004zm38.404 120.78c-1.5 2.46-4.72 3.24-7.18 1.73-19.662-12.01-44.414-14.73-73.564-8.07-2.809 0.64-5.609-1.12-6.249-3.93-0.643-2.81 1.11-5.61 3.926-6.25 31.9-7.291 59.263-4.15 81.337 9.34 2.46 1.51 3.24 4.72 1.73 7.18zm10.25-22.805c-1.89 3.075-5.91 4.045-8.98 2.155-22.51-13.839-56.823-17.846-83.448-9.764-3.453 1.043-7.1-0.903-8.148-4.35-1.04-3.453 0.907-7.093 4.354-8.143 30.413-9.228 68.222-4.758 94.072 11.127 3.07 1.89 4.04 5.91 2.15 8.976v-0.001zm0.88-23.744c-26.99-16.031-71.52-17.505-97.289-9.684-4.138 1.255-8.514-1.081-9.768-5.219-1.254-4.14 1.08-8.513 5.221-9.771 29.581-8.98 78.756-7.245 109.83 11.202 3.73 2.209 4.95 7.016 2.74 10.733-2.2 3.722-7.02 4.949-10.73 2.739z"/>
          </svg>
        <% end  %>
      </button>
      <!-- detail icon -->
      <button class="flex-1 flex items-center justify-center py-3 bg-slate-100 ml-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 ml-1">
          <path class="text-slate-600" stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
        </svg>
      </button>
      <!-- chart icon -->
      <button class="flex-1 flex items-center justify-center py-3 bg-slate-100 rounded-r-md ml-1">
        <span data-controller="graph" data-action="click->graph#openModal" data-graph-url="<%= graph_data_artist_url(artist.id) %>">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 ml-1">
            <path class="text-slate-600" stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</li>
