<div class="container">
  <h1>Playlists</h1>
  <div class="w-full">
    <%= render 'app' %>
    <%= render 'tabs' %>
    <x-tab-group></x-tab-group>
    <%= render 'search_filter_bar' %>
    <%= render 'tab_songs' %>
    <%= render 'tab_artists' %>
    <%= render 'tab_radio_stations' %>
    <%= render 'modal' %>
  </div>
</div>



