<!-- radio stations select -->
<div class="mb-60">
  <label id="listbox-label" class="block text-sm font-medium leading-6 text-gray-900">Radio Stations</label>
  <div data-controller="modal" data-action="click->modal#openRadioStationSelect" class="relative mt-2">
    <button type="button" class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
      <span id='selected-radio-station' class="flex items-center" data-selected-radio-station-id="">
        <span id="selected-radio-station-name" class="ml-3 block truncate">All</span>
      </span>
      <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
        <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>

    <ul id="radio-station-select-list" class="hidden absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
      <!-- all radio station list item -->
      <li data-controller="modal"
          data-action="click->modal#selectRadioStation"
          class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9 hover:bg-slate-300"
          id="listbox-option-0" role="option"
          data-modal-radio-station-id="all">
        <div class="flex items-center">
          <span class="font-normal ml-3 block truncate">All</span>
        </div>
      </li>

      <!-- radio station list items -->
      <%- RadioStation.all.each do |radio_station| %>
        <li data-controller="modal"
            data-action="click->modal#selectRadioStation"
            class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9 hover:bg-slate-300"
            id="listbox-option-0" role="option"
            data-modal-radio-station-id="<%= radio_station.id %>"
            data-modal-radio-station-name="<%= radio_station.name %>"
            data-modal-radio-station-logo="<%= image_path(radio_station.logo_path) %>">
          <div class="flex items-center">
            <%= image_tag radio_station.logo_path, class: "h-5 w-5 flex-shrink-0 rounded-full" %>
            <span class="font-normal ml-3 block truncate"><%= radio_station.name %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
