<div class="center">
  <span class="blue-text"><h1><a href="/playlists">Radio Veronica Playlist Counter</a></h1></span>
  <p><h6>Since 23-9-2016 20:30h</h6></p>
  <p><%= render 'layouts/nav' %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <p><%= will_paginate @playlists %></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <table class="striped">
        <tr>
          <td>Unique songs</td>
          <td>Today</td>
          <td>Week</td>
          <td>Month</th>
          <td>Year</td>
          <td>Total</td>
        </tr>
        <tr>
          <td></td>
          <td><%= @uniq_tracks_day %></td>
          <td><%= @uniq_tracks_week %></td>
          <td><%= @uniq_tracks_month %></td>
          <td><%= @uniq_tracks_year %></td>
          <td><%= @playlists.count %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <%= form_tag '/playlists', :method => 'get', role:"search" do  %>
        <p>
          <%= text_field_tag :search_fullname, params[:search], placeholder: "Search artist or song...", data: { autocomplete_source: autocomplete_playlists_path } %>
          <%= submit_tag "Search", :name => nil, class: "waves-effect waves-light btn blue" %>
        <p>
      <% end %>
    </div>
  </div>

  <div  id="playlists">
    <ul id="sort">
      <table>
        <tr>
          <td>
            <li><span><a href="/playlists/sort_updated">Updated</a></span></li>
            <li><span><a href="/playlists/sort_created">Created</a></span></li>
            <li><span><a href="/playlists/sort_total">Total</a></span></li>
            <li><span><a href="/playlists/sort_year">Year</a></span></li>
            <li><span><a href="/playlists/sort_month">Month</a></span></li>
            <li><span><a href="/playlists/sort_week">Week</a></span></li>
            <li><span><a href="/playlists/sort_today">Today</a></span></li>
          </td>
        </tr>
      </table>
    </ul>
    <%= render 'playlist' %>
  </div>

  <div class="row">
    <p><%= will_paginate @playlists %></p>
  </div>

</div>
