<div class="center">
  <span class="blue-text"><h1><a href="/playlists">Veronica Playlist Counter</a></h1></span>
  <p><h6>Since 23-9-2016 20:30u | Total songs: <%= @playlists.count %> | <a href="/radio538playlists">Radio 538 Playlist Counter</a></h6></p> | <a href="/radio2playlists">Radio 2 Playlist Counter</a></h6></p>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <p><%= will_paginate @playlists %></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <table class="striped">
        <tr>
          <td>Unique songs</td>
          <td>Today</td>
          <td>Week</td>
          <td>Month</th>
          <td>Year</td>
        </tr>
        <tr>
          <td></td>
          <td><%= @uniq_tracks_day %></td>
          <td><%= @uniq_tracks_week %></td>
          <td><%= @uniq_tracks_month %></td>
          <td><%= @uniq_tracks_year %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <%= form_tag '/playlists', :method => 'get', role:"search" do  %>
        <p>
          <%= text_field_tag :search_fullname, params[:search], placeholder: "Search artist or song...", data: { autocomplete_source: autocomplete_playlists_path } %>
          <%= submit_tag "Search", :name => nil, class: "waves-effect waves-light btn blue" %>
        <p>
      <% end %>
    </div>
  </div>

  <div  id="playlists">
    <%= render 'playlist' %>
  </div>

  <div class="row">
    <p><%= will_paginate @playlists %></p>
  </div>

</div>
