<h1>Veronica Playlist Counter</h1>
<h6>Since 23-9-2016 20:30u</h5>
Songs are displayed from most played to least played

<p><%= will_paginate @playlists %></p>

<% @playlists.each do |playlist| %>
  <table>
    <tr>
      <td>
        <p><%= image_tag playlist.image %></p>
      </td>
      <td>
        <table class="name">
          <tr>
            <td id="artist">
              Artist
            </td>
            <td id="title">
              Title
            </td>
            <td id="last_time">
              Last time played
            </td>
            <td id="last_date">
              Last date played
            </td>
          </tr>
          <tr>
            <td>
              <%= playlist.artist %>
            </td>
            <td>
              <%= playlist.title %>
            </td>
            <td>
              <%= playlist.time %>
            </td>
            <td>
              <%= playlist.date %>
            </td>
          </tr>
        </table>
        <table class="counters">
          <tr>
            <td>
              Day
            </td>
            <td>
              Week
            </td>
            <td>
              Month
            </td>
            <td>
              Year
            </td>
            <td>
              Total
            </td>
          </tr>
          <tr>
            <td>
              <%= playlist.day_counter %>
            </td>
            <td>
              <%= playlist.week_counter %>
            </td>
            <td>
              <%= playlist.month_counter %>
            </td>
            <td>
              <%= playlist.year_counter %>
            </td>
            <td>
              <%= playlist.total_counter %><br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>

<p><%= will_paginate @playlists %></p>
