<% @playlists.each_with_index do |playlist, idx_playlist| %>
  <% idx_playlist + 1 %>
  <tr>
    <td class="image">
      <% if user_signed_in? && playlist.song.spotify_artwork_url.present? %>
        <%= image_tag(playlist.song.spotify_artwork_url, class: "song-image", size: '100x100') %>
      <% elsif playlist.song.artwork_url.present? %>
        <%= image_tag(playlist.song.artwork_url, class: "song-image") %>
      <% end %>
    </td>
    <td>
      <table>
        <tr>
          <td class="play" id="playlist-play">
            <% if user_signed_in? && playlist.song.spotify_song_url.present? %>
              <a href="<%= playlist.song.spotify_song_url %>" target="_blank">
                <%= image_tag('Spotify_Icon_RGB_Green.png', size: '35') %>
              </a>
            <% elsif playlist.song.song_preview.present? %>
              <%= audio_tag(playlist.song.song_preview, class: "audio-play") %>
              <i class="material-icons md-36 audioButton">play_circle_outline</i>
            <% else %>
              <i class="material-icons md-36">remove</i>
            <% end %>
          </td>
          <td class="time">
            <div class="bungee-inline">
              <%= playlist.time %>
            </div>
            <div style="font-style:italic; font-size: 12px">
              <%= playlist.created_at.strftime("%e-%-m-%Y") %>
            </div>
          </td>
          <td class="song">
            <%= playlist.song.title %>
            <div style="font-style:italic; font-size: 12px">
              <%= playlist.artist.name %><br/>
              <%= playlist.radiostation.name %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>

<script>
  $("td#playlist-play").on("click", ".audioButton", function() {
    if ($(this).text() == "play_circle_outline") {
      $(this).text("pause_circle_outline");
      $(this).prev("audio")[0].play();
    } else {
      $(this).text("play_circle_outline");
      $(this).prev("audio")[0].pause();
    }
  });
  $(".audio-play").on("ended", function() {
    $(this).next("i").text("play_circle_outline");
  });
</script>
