<% @playlists.each_with_index do |playlist, idx_playlist| %>
  <% idx_playlist + 1 %>
  <tr>
    <td>
      <% if (playlist.song.artwork_url != nil) %>
      <%= image_tag(playlist.song.artwork_url, class: "song-image") %>
      <% end %>
    </td>
    <td>
      <table>
        <tr>
          <td class="bungee-inline">
            <%= playlist.time %>
          </td>
          <td>
            <%= playlist.created_at.strftime("%e-%-m-%Y") %>
          </td>
          <td>
            <%= playlist.radiostation.name %>
          </td>
        </tr>
        <tr>
          <td>
            <% if (playlist.song.song_preview != nil) %>
              <%= audio_tag(playlist.song.song_preview, class: "audio-play") %>
              <i class="material-icons md-36 audioButton">play_circle_outline</i>
            <% end %>
          </td>
          <td>
            <%= playlist.artist.name %>
          </td>
          <td>
            <%= playlist.song.title %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>

<script>
  $(".audioButton").click(function() {
    if ($(this).text() == "play_circle_outline") {
      $(this).text("pause_circle_outline");
      $(this).prev("audio")[0].play();
    } else {
      $(this).text("play_circle_outline");
      $(this).prev("audio")[0].pause();
    }
  });
  $(".audio-play").on("ended", function() {
    $(this).next("i").text("play_circle_outline");
  });
</script>
