<% @playlists.each_with_index do |playlist, idx_playlist| %>
  <% idx_playlist + 1 %>
  <tr>
    <td class="image">
      <% if playlist.song.spotify_artwork_url.present? %>
        <%= image_tag(playlist.song.spotify_artwork_url, class: "song-image", size: '100x100') %>
      <% end %>
    </td>
    <td>
      <table>
        <tr>
          <td class="play" id="playlist-play">
            <% if playlist.song.spotify_song_url.present? %>
              <%= link_to playlist.song.spotify_song_url, target: '_blank' do %>
                <%= image_tag('Spotify_Icon_RGB_Green.png', size: '35') %>
              <% end %>
            <% else %>
              <i class="material-icons md-36">remove</i>
            <% end %>
          </td>
          <td class="time">
            <div class="bungee-inline">
              <%= playlist.time %>
            </div>
            <div style="font-style:italic; font-size: 12px">
              <%= playlist.created_at.strftime("%e-%-m-%Y") %>
            </div>
          </td>
          <td class="song">
            <%= playlist.song.title %>
            <div style="font-style:italic; font-size: 12px">
              <%= playlist.artist.name %><br/>
              <%= playlist.radiostation.name %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
