<% idx_song = 1 %>
<% @songs_counter.each do |song_id, counter| %>
  <% top_song = Song.find(song_id) %>
    <tr>
      <td class="image">
        <% if (top_song.artwork_url != nil) %>
          <%= image_tag(top_song.artwork_url, class: "song-image") %>
        <% end %>
      </td>
      <td>
        <table>
          <tr>
            <td class="play" id="song-play">
              <% if (top_song.song_preview != nil) %>
                <%= audio_tag(top_song.song_preview, class: "audio-play") %>
                <i class="material-icons md-36 audioButton">play_circle_outline</i>
              <% else %>
                <i class="material-icons md-36">remove</i>
              <% end %>
            </td>
            <td class="bungee-inline time">
              # <%= idx_song %>
            </td>
            <td class="song">
              <%= top_song.title %><br />
              <% if top_song.artist != nil %>
                <div style="font-style:italic; font-size: 12px">
                  <%= top_song.artist.name %>
                </div>
              <% end %>
            </td>
            <td>
              <%= counter %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <% idx_song += 1 %>
<% end %>

<script>
  $("td#song-play").on("click", ".audioButton", function() {
    if ($(this).text() == "play_circle_outline") {
      $(this).text("pause_circle_outline");
      $(this).prev("audio")[0].play();
    } else {
      $(this).text("play_circle_outline");
      $(this).prev("audio")[0].pause();
    }
  });
  $(".audio-play").on("ended", function() {
    $(this).next("i").text("play_circle_outline");
  });
</script>
