<% idx_song = 1 %>
<% @songs_counter.each do |song_id, counter| %>
  <% top_song = Song.find(song_id) %>
    <tr>
      <td class="image">
        <% if top_song.spotify_artwork_url.present? %>
          <%= image_tag(top_song.spotify_artwork_url, class:"song-image", size: '100x100') %>
        <% elsif top_song.artwork_url.present? %>
          <%= image_tag(top_song.artwork_url, class: "song-image") %>
        <% end %>
      </td>
      <td>
        <table>
          <tr>
            <td class="play" id="song-play">
              <% if top_song.spotify_song_url.present? %>
                <%= link_to top_song.spotify_song_url, target: '_blank' do %>
                  <%= image_tag('Spotify_Icon_RGB_Green.png', size: '35') %>
                <% end %>
              <% else %>
                <i class="material-icons md-36">remove</i>
              <% end %>
            </td>
            <td class="bungee-inline time top-song-details">
              # <%= idx_song %>
            </td>
            <td class="song top-song-details">
              <%= top_song.title %><br />
              <% if top_song.artist.present? %>
                <div style="font-style:italic; font-size: 12px">
                  <%= top_song.artist.name %>
                </div>
              <% end %>
            </td>
            <td class="top-song-details">
              <%= counter %>
            </td>
          </tr>
          <tr style="display:none" class="radiostation-song-counter">
            <td>
              <p class="radiostation-song-counter delay-0">
                Radio 2:<br/>
              </p>
              <p class="radiostation-song-counter delay-1">
                Radio 3FM
              </p>
              <p class="radiostation-song-counter delay-2">
                Sky Radio: <br/>
              </p>
              <p class="radiostation-song-counter delay-3">
                Radio 538: <br/>
              </p>
              <p class="radiostation-song-counter delay-4">
                Qmusic: <br/>
              </p>
              <p class="radiostation-song-counter delay-5">
                Radio Veronica:<br/>
              </p>
              <p class="radiostation-song-counter delay-6">
                Sublime FM: <br/>
              </p>
              <p class="radiostation-song-counter delay-7">
                Groot Nieuws Radio: <br/>
              </p>
            </td>
            <td>
              <p class="radiostation-song-counter delay-0">
                <%= radio_2_top_song_count(top_song.id, @set_counter_top_songs) %><br />
              </p>
              <p class="radiostation-song-counter delay-1">
                <%= radio_3fm_top_song_count(top_song.id, @set_counter_top_songs) %><br />
              </p>
              <p class="radiostation-song-counter delay-2">
                <%= sky_radio_top_song_count(top_song.id, @set_counter_top_songs) %><br />
              </p>
              <p class="radiostation-song-counter delay-3">
                <%= radio_538_top_song_count(top_song.id, @set_counter_top_songs) %><br />
              </p>
              <p class="radiostation-song-counter delay-4">
                <%= q_music_top_song_count(top_song.id, @set_counter_top_songs) %><br />
              </p>
              <p class="radiostation-song-counter delay-5">
                <%= radio_veronica_top_song_count(top_song.id, @set_counter_top_songs) %><br />
              </p>
              <p class="radiostation-song-counter delay-6">
                <%= sublime_fm_top_song_count(top_song.id, @set_counter_top_songs) %><br />
              </p>
              <p class="radiostation-song-counter delay-7">
                <%= grootnieuws_radio_top_song_count(top_song.id, @set_counter_top_songs) %><br />
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <% idx_song += 1 %>
<% end %>

<script>
  $("td#song-play").on("click", ".audioButton", function() {
    if ($(this).text() == "play_circle_outline") {
      $(this).text("pause_circle_outline");
      $(this).prev("audio")[0].play();
    } else {
      $(this).text("play_circle_outline");
      $(this).prev("audio")[0].pause();
    }
  });
  $(".audio-play").on("ended", function() {
    $(this).next("i").text("play_circle_outline");
  });

  $(".top-song-details").click(function() {
    $(this).parent().next("tr").fadeToggle();
    $(this).parent().next("tr").find("p.radiostation-song-counter").toggleClass("animated fadeInUp");
  });
</script>
