<% @top_songs.each_with_index do |top_song, idx_song| %>
  <% idx_song += 1 %>
  <tr>
    <td>
      <% if (top_song.artwork_url != nil) %>
        <%= image_tag(top_song.artwork_url, class: "song-image") %>
      <% end %>
    </td>
    <td>
      <table>
        <tr>
          <td>
            <% if (top_song.song_preview != nil) %>
              <%= audio_tag(top_song.song_preview, class: "audio-play") %>
              <i class="material-icons md-36 audioButton">play_circle_outline</i>
            <% end %>
          </td>
          <td class="bungee-inline">
            # <%= idx_song %>
          </td>
          <td>
            <%= top_song.title %><br />
            <% if top_song.artist != nil %>
              <div style="font-style:italic; font-size: 12px">
                <%= top_song.artist.name %>
              </div>
            <% end %>
          </td>
          <% if @songs_counter.present? %>
            <% @songs_counter.each do |song_id, counter| %>
            <% if song_id == top_song.id %>
              <td>
                <%= counter %>
              </td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
<% end %>

<script>
  $(".audioButton").click(function() {
    if ($(this).text() == "play_circle_outline") {
      $(this).text("pause_circle_outline");
      $(this).prev("audio")[0].play();
    } else {
      $(this).text("play_circle_outline");
      $(this).prev("audio")[0].pause();
    }
  });
  $(".audio-play").on("ended", function() {
    $(this).next("i").text("play_circle_outline");
  });
</script>
