<% idx_artist = 1 %>
<% @artists_counter.each do |artist_id, counter| %>
  <% top_artist = Artist.find(artist_id) %>
  <tr>
    <td class="image">
      <% if random_album_image(top_artist) %>
        <%= image_tag(random_album_image(top_artist), class: 'song-image') %>
      <% else %>
        <i class="material-icons md-48">album</i>
      <% end %>
    </td>
    <td>
      <table>
        <tr class="top-artist-details">
          <td class="bungee-inline">
            # <%= idx_artist %>
          </td>
          <td>
            <%= top_artist.name %>
          </td>
          <% if @artists_counter.present? %>
            <% @artists_counter.each do |artist_id, counter| %>
              <% if artist_id == top_artist.id %>
                <td>
                  <%= counter %>
                </td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr style="display:none" class="radiostation-artist-counter">
          <td></td>
          <td>
            <p class="radiostation-artist-counter delay-0">
              Radio 2:<br/>
            </p>
            <p class="radiostation-artist-counter delay-1">
              Radio 3FM
            </p>
            <p class="radiostation-artist-counter delay-2">
              Sky Radio: <br/>
            </p>
            <p class="radiostation-artist-counter delay-3">
              Radio 538: <br/>
            </p>
            <p class="radiostation-artist-counter delay-4">
              Qmusic: <br/>
            </p>
            <p class="radiostation-artist-counter delay-5">
              Radio Veronica:<br/>
            </p>
            <p class="radiostation-artist-counter delay-6">
              Sublime FM: <br/>
            </p>
            <p class="radiostation-artist-counter delay-7">
              Groot Nieuws Radio: <br/>
            </p>
          </td>
          <td>
            <p class="radiostation-artist-counter delay-0">
              <%= top_artist_count(top_artist.id, @set_counter_top_artists, "Radio 2") %><br />
            </p>
            <p class="radiostation-artist-counter delay-1">
              <%= top_artist_count(top_artist.id, @set_counter_top_artists, "Radio 3FM") %><br />
            </p>
            <p class="radiostation-artist-counter delay-2">
              <%= top_artist_count(top_artist.id, @set_counter_top_artists, "Sky Radio") %><br />
            </p>
            <p class="radiostation-artist-counter delay-3">
              <%= top_artist_count(top_artist.id, @set_counter_top_artists, "Radio 538") %><br />
            </p>
            <p class="radiostation-artist-counter delay-4">
              <%= top_artist_count(top_artist.id, @set_counter_top_artists, "Qmusic") %><br />
            </p>
            <p class="radiostation-artist-counter delay-5">
              <%= top_artist_count(top_artist.id, @set_counter_top_artists, "Radio Veronica") %><br />
            </p>
            <p class="radiostation-artist-counter delay-6">
              <%= top_artist_count(top_artist.id, @set_counter_top_artists, "Sublime FM") %><br />
            </p>
            <p class="radiostation-artist-counter delay-7">
              <%= top_artist_count(top_artist.id, @set_counter_top_artists, "Groot Nieuws Radio") %><br />
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <% idx_artist += 1 %>
<% end %>

<script>
  $(".top-artist-details").click(function() {
    $(this).next("tr").fadeToggle();
    $(this).next("tr").find("p.radiostation-artist-counter").toggleClass("animated fadeInUp");
  });
</script>
