<% @top_artists.each_with_index do |top_artist, idx_artist| %>
  <tr>
    <td>
      <% case(idx_artist) %>
      <% when 0 %>
        <i class="material-icons md-24">looks_one</i>
      <% when 1 %>
        <i class="material-icons">looks_two</i>
      <% when 2 %>
        <i class="material-icons">looks_3</i>
      <% when 3 %>
        <i class="material-icons">looks_4</i>
      <% when 4 %>
        <i class="material-icons">looks_5</i>
      <% end %>
    </td>
    <td>
      <%= top_artist.name %>
    </td>
    <td class="top-artist-day" style="display:none">
      <%= top_artist.day_counter %>
    </td>
    <td class="top-artist-week" style="display:none">
      <%= top_artist.week_counter %>
    </td>
    <td class="top-artist-month" style="display:none">
      <%= top_artist.month_counter %>
    </td>
    <td class="top-artist-year" style="display:none">
      <%= top_artist.year_counter %>
    </td>
    <td class="top-artist-total">
      <%= top_artist.total_counter %>
    </td>
  </tr>
<% end %>
