<% @top_songs.each_with_index do |top_song, idx_song| %>
  <% idx_song += 1 %>
  <tr>
    <td>
      <% if (top_song.artwork_url != nil) %>
        <%= image_tag(top_song.artwork_url, class: "song-image") %>
      <% end %>
    </td>
    <td>
      <table>
        <tr>
          <td class="bungee-inline">
            # <%= idx_song %>
          </td>
          <td>
            <% if top_song.artist != nil %>
              <%= top_song.artist.name %>
            <% end %>
          </td>
          <td>
            <%= top_song.title %>
          </td>
          <% if @songs_counter.present? %>
            <% @songs_counter.each do |song_id, counter| %>
            <% if song_id == top_song.id %>
              <td>
                <%= counter %>
              </td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
