<section id="section-1" class="full-window-height">
  <div class="head center">
    Radio Playlists
  </div>

  <div class="container">
    <!-- <div class="row">
      <div class="col s12 m12 l12 center" id="menu">
        <%= render 'layouts/navgp' %>
      </div>
    </div> -->
    <div class="row">
      <div class="col s12 m12 l6">
        <h3 class="center">Top songs</h3>
        <%= form_tag("/generalplaylists", method: :get, id: "search_top_song_form" ) do %>
          <p>
            <!-- <label for="search_top_song">Search song title</label>
            <input id="search_top_song" name="" type="text" placeholder="Search for song..." class="col s12 m6"/> -->
            <%= label_tag(:search_top_song, "Search for song") %>
            <%= text_field_tag "search_top_song", nil, placeholder: "Search for song...", class: "materialize-textarea", autocomplete: "off" %>
            <div class="input-field col s6 m6 l6">
              <select id="set_counter_top_songs">
                <option value="" disabled selected>Counter time</option>
                <option value="day_counter">Day</option>
                <option value="week_counter">Week</option>
                <option value="month_counter">Month</option>
                <option value="year_counter">Year</option>
                <option value="total_counter">Total</option>
              </select>
            </div>
            <div class="input-field col s6 m6 l6">
              <%= collection_select(:radiostation, :id, Radiostation.all, :id, :name, options = { prompt: "Radiostation"}, html_options = { id: "top_songs_radiostation" }) %>
            </div>
          </p>
        <% end %>
        <table>
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Artist
              </th>
              <th>
                Title
              </th>
              <th id="counter-type-song">
                Total
              </th>
            </tr>
          </thead>
          <tbody id="top-songs-table">
              <%= render partial: 'top_songs' %>
          </tbody>
        </table>
      </div>

      <div class="col s12 m12 l6">
        <h3 class="center">Top artists</h3>
        <%= form_tag("/generalplaylists", method: :get, id: "search_top_artist_form" ) do %>
          <label for="search_top_artist">Search artist name</label>
          <%= text_field_tag "search_top_artist", nil, placeholder: "Search for artist...", class: "materialize-textarea", autocomplete: "off" %>
          <div  class="input-field col s6 m6 l6">
            <select id="set_counter_top_artists">
              <option value="" disabled selected>Counter time</option>
              <option value="day_counter">Day</option>
              <option value="week_counter">Week</option>
              <option value="month_counter">Month</option>
              <option value="year_counter">Year</option>
              <option value="total_counter">Total</option>
            </select>
          </div>
          <div class="input-field col s6 m6 l6">
            <%= collection_select(:radiostation, :id, Radiostation.all, :id, :name, options = { prompt: "Radiostation" }, html_options = { id: "top_artists_radiostation" }) %>
          </div>
        <% end %>
        <table>
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Artist
              </th>
              <th id="counter-type-artist">
                Total
              </th>
            </tr>
          </thead>
          <tbody id="top-artists-table">
              <%= render partial: 'top_artists' %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
  $("#search_top_song_form input").keyup(function(){
    $.get($("#search_top_song_form").attr("action"), {search_top_song: $("#search_top_song").val(), set_counter_top_songs: $("#set-counter-top-songs").val(), radiostation_id: $("#top_songs_radiostation").val(), target: 'top-songs-table'}, null, "script");
  });

  $("#set_counter_top_songs").change(function(){
    $.get($("#search_top_song_form").attr("action"), {search_top_song: $("#search_top_song").val(), set_counter_top_songs: $("#set_counter_top_songs").val(), radiostation_id: $("#top_songs_radiostation").val(), target: 'top-songs-table'}, null, "script");
  });

  $("#top_songs_radiostation").change(function(){
    $.get($("#search_top_song_form").attr("action"), {search_top_song: $("#search_top_song").val(), set_counter_top_songs: $("#set_counter_top_songs").val(), radiostation_id: $("#top_songs_radiostation").val(), target: 'top-songs-table'}, null, "script");
  });

  $("#search_top_artist_form input").keyup(function() {
    $.get($("#search_top_artist_form").attr("action"), {search_top_artist: $("#search_top_artist").val(), set_counter_top_artists: $("#set-counter-top-artists").val(), radiostation_id: $("#top_artists_radiostation").val(), target: 'top-artists-table'}, null, "script");
  })

  $("#set_counter_top_artists").change(function(){
    $.get($("#search_top_artist_form").attr("action"), {search_top_artist: $("#search_top_artist").val(), set_counter_top_artists: $("#set-counter-top-artists").val(), radiostation_id: $("#top_artists_radiostation").val(), target: 'top-artists-table'}, null, "script");
  });

  $("#top_artists_radiostation").change(function(){
    $.get($("#search_top_artist_form").attr("action"), {search_top_artist: $("#search_top_artist").val(), set_counter_top_artists: $("#set-counter-top-artists").val(), radiostation_id: $("#top_artists_radiostation").val(), target: 'top-artists-table'}, null, "script");
  });

  $(document).ready(function() {
    $('select').material_select();
  });

  $(document).ajaxComplete(function() {
    counterOnSong = $("#set_counter_top_songs").val();
    counterOnArtist = $("#set_counter_top_artists").val();
    setCounterSong(counterOnSong, "song");
    setCounterArtist(counterOnArtist, "artist");
  });

  function setCounterSong(counterOn, table) {
    switch (counterOn) {
      case "day_counter":
      $(".top-" + table + "-day").show();
      $(".top-" + table + "-week").hide();
      $(".top-" + table + "-month").hide();
      $(".top-" + table + "-year").hide();
      $(".top-" + table + "-total").hide();
      $("#counter-type-" + table).text("Day");
      break;
      case "week_counter":
      $(".top-" + table + "-day").hide();
      $(".top-" + table + "-week").show();
      $(".top-" + table + "-month").hide();
      $(".top-" + table + "-year").hide();
      $(".top-" + table + "-total").hide();
      $("#counter-type-" + table).text("Week");
      break;
      case "month_counter":
      $(".top-" + table + "-day").hide();
      $(".top-" + table + "-week").hide();
      $(".top-" + table + "-month").show();
      $(".top-" + table + "-year").hide();
      $(".top-" + table + "-total").hide();
      $("#counter-type-" + table).text("Month");
      break;
      case "year_counter":
      $(".top-" + table + "-day").hide();
      $(".top-" + table + "-week").hide();
      $(".top-" + table + "-month").hide();
      $(".top-" + table + "-year").show();
      $(".top-" + table + "-total").hide();
      $("#counter-type-" + table).text("Year");
      break;
      case "total_counter":
      $(".top-" + table + "-day").hide();
      $(".top-" + table + "-week").hide();
      $(".top-" + table + "-month").hide();
      $(".top-" + table + "-year").hide();
      $(".top-" + table + "-total").show();
      $("#counter-type-" + table).text("Total");
      break;
    }
  };

  function setCounterArtist(counterOn, table) {
    switch (counterOn) {
      case "day_counter":
      $(".top-" + table + "-day").show();
      $(".top-" + table + "-week").hide();
      $(".top-" + table + "-month").hide();
      $(".top-" + table + "-year").hide();
      $(".top-" + table + "-total").hide();
      $("#counter-type-" + table).text("Day");
      break;
      case "week_counter":
      $(".top-" + table + "-day").hide();
      $(".top-" + table + "-week").show();
      $(".top-" + table + "-month").hide();
      $(".top-" + table + "-year").hide();
      $(".top-" + table + "-total").hide();
      $("#counter-type-" + table).text("Week");
      break;
      case "month_counter":
      $(".top-" + table + "-day").hide();
      $(".top-" + table + "-week").hide();
      $(".top-" + table + "-month").show();
      $(".top-" + table + "-year").hide();
      $(".top-" + table + "-total").hide();
      $("#counter-type-" + table).text("Month");
      break;
      case "year_counter":
      $(".top-" + table + "-day").hide();
      $(".top-" + table + "-week").hide();
      $(".top-" + table + "-month").hide();
      $(".top-" + table + "-year").show();
      $(".top-" + table + "-total").hide();
      $("#counter-type-" + table).text("Year");
      break;
      case "total_counter":
      $(".top-" + table + "-day").hide();
      $(".top-" + table + "-week").hide();
      $(".top-" + table + "-month").hide();
      $(".top-" + table + "-year").hide();
      $(".top-" + table + "-total").show();
      $("#counter-type-" + table).text("Total");
      break;
    }
  };
</script>
