<section id="section-1" class="full-window-height">
  <div class="head center rubik">
    Radio Playlists
  </div>

  <div class="container">
    <div class="row">
      <div col="col s12 m12 l12">
        <h3 class="rubik">
          Playlists
          <i class="material-icons md-48 right toggle-table-icon-90" id="0">details</i>
        </h3>
        <div class="content" style="display:none">
          <%= form_tag("/generalplaylists", method: :get, id: "search_playlists_form") do %>
            <%= label_tag(:search_playlists, "Search for song or artist") %>
            <%= text_field_tag "search_playlists", nil, placeholder: "Search for song or artist...", class: "materialize-textarea", autocomplete: "off" %>
            <div class="input-field col s6 m6 l6">
              <select id="set_counter_playlists">
                <option value="">Counter time</option>
                <option value="day">Today (<%= Date.today.beginning_of_day.strftime("%e %b %Y") %>)</option>
                <option value="week">This week (<%= Date.today.beginning_of_week.strftime("%e %b %Y") %>)</option>
                <option value="month">This month (<%= Date.today.beginning_of_month.strftime("%e %b %Y") %>)</option>
                <option value="year">This year (<%= Date.today.beginning_of_year.strftime("%e %b %Y") %>)</option>
                <option value="total">All Time</option>
              </select>
            </div>
            <div class="input-field col s6 m6 l6">
              <%= collection_select(:radiostation, :id, Radiostation.all, :id, :name, options = { prompt: "Radiostation"}, html_options = { id: "playlists_radiostation" }) %>
            </div>
          <% end %>
          <table class="striped">
            <tbody id="playlists-table">
              <%= render partial: 'playlists' %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <h3 class="rubik">
          Top songs
          <i class="material-icons md-48 right toggle-table-icon-90">details</i>
        </h3>
        <div class="content" style="display:none">
          <%= form_tag("/generalplaylists", method: :get, id: "search_top_song_form" ) do %>
            <p>
              <%= label_tag(:search_top_song, "Search for song or artist") %>
              <%= text_field_tag "search_top_song", nil, placeholder: "Search for song or artist...", class: "materialize-textarea", autocomplete: "off" %>
              <div class="input-field col s6 m6 l6">
                <select id="set_counter_top_songs">
                  <option value="">Counter time</option>
                  <option value="day">Today (<%= Date.today.beginning_of_day.strftime("%e %b %Y") %>)</option>
                  <option value="week">This week (<%= Date.today.beginning_of_week.strftime("%e %b %Y") %>)</option>
                  <option value="month">This month (<%= Date.today.beginning_of_month.strftime("%e %b %Y") %>)</option>
                  <option value="year">This year (<%= Date.today.beginning_of_year.strftime("%e %b %Y") %>)</option>
                  <option value="total">All Time</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <%= collection_select(:radiostation, :id, Radiostation.all, :id, :name, options = { prompt: "Radiostation"}, html_options = { id: "top_songs_radiostation" }) %>
              </div>
            </p>
          <% end %>
          <table class="striped">
            <tbody id="top-songs-table">
                <%= render partial: 'top_songs' %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <h3 class="rubik">
          Top artists
          <i class="material-icons md-48 right toggle-table-icon-90">details</i>
        </h3>
        <div class="content" style="display:none">
          <%= form_tag("/generalplaylists", method: :get, id: "search_top_artist_form" ) do %>
            <label for="search_top_artist">Search artist name</label>
            <%= text_field_tag "search_top_artist", nil, placeholder: "Search for artist...", class: "materialize-textarea", autocomplete: "off" %>
            <div  class="input-field col s6 m6 l6">
              <select id="set_counter_top_artists">
                <option value="">Counter time</option>
                <option value="day">Today (<%= Date.today.beginning_of_day.strftime("%e %b %Y") %>)</option>
                <option value="week">This week (<%= Date.today.beginning_of_week.strftime("%e %b %Y") %>)</option>
                <option value="month">This month (<%= Date.today.beginning_of_month.strftime("%e %b %Y") %>)</option>
                <option value="year">This year (<%= Date.today.beginning_of_year.strftime("%e %b %Y") %>)</option>
                <option value="total">All Time</option>
              </select>
            </div>
            <div class="input-field col s6 m6 l6">
              <%= collection_select(:radiostation, :id, Radiostation.all, :id, :name, options = { prompt: "Radiostation" }, html_options = { id: "top_artists_radiostation" }) %>
            </div>
          <% end %>
          <table class="striped">
            <tbody id="top-artists-table">
                <%= render partial: 'top_artists' %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // AJAX requests playlists
  $("#search_playlists_form input").keyup(function(){
    $.get($("#search_playlists_form").attr("action"), {search_playlists: $("#search_playlists").val(), set_counter_playlists: $("#set_counter_playlists").val(), radiostation_id: $("#playlists_radiostation").val(), target: 'playlists-table' }, null, "script" );
  });
  $("#set_counter_playlists").change(function(){
    $.get($("#search_playlists_form").attr("action"), {search_playlists: $("#search_playlists").val(), set_counter_playlists: $("#set_counter_playlists").val(), radiostation_id: $("#playlists_radiostation").val(), target: 'playlists-table' }, null, "script" );
  });
  $("#playlists_radiostation").change(function(){
    $.get($("#search_playlists_form").attr("action"), {search_playlists: $("#search_playlists").val(), set_counter_playlists: $("#set_counter_playlists").val(), radiostation_id: $("#playlists_radiostation").val(), target: 'playlists-table' }, null, "script" );
  });

  // AJAX request top songs
  $("#search_top_song_form input").keyup(function(){
    $.get($("#search_top_song_form").attr("action"), {search_top_song: $("#search_top_song").val(), set_counter_top_songs: $("#set-counter-top-songs").val(), radiostation_id: $("#top_songs_radiostation").val(), target: 'top-songs-table'}, null, "script");
  });
  $("#set_counter_top_songs").change(function(){
    $.get($("#search_top_song_form").attr("action"), {search_top_song: $("#search_top_song").val(), set_counter_top_songs: $("#set_counter_top_songs").val(), radiostation_id: $("#top_songs_radiostation").val(), target: 'top-songs-table'}, null, "script");
  });
  $("#top_songs_radiostation").change(function(){
    $.get($("#search_top_song_form").attr("action"), {search_top_song: $("#search_top_song").val(), set_counter_top_songs: $("#set_counter_top_songs").val(), radiostation_id: $("#top_songs_radiostation").val(), target: 'top-songs-table'}, null, "script");
  });

  // AJAX requests artists
  $("#search_top_artist_form input").keyup(function() {
    $.get($("#search_top_artist_form").attr("action"), {search_top_artist: $("#search_top_artist").val(), set_counter_top_artists: $("#set-counter-top-artists").val(), radiostation_id: $("#top_artists_radiostation").val(), target: 'top-artists-table'}, null, "script");
  })
  $("#set_counter_top_artists").change(function(){
    $.get($("#search_top_artist_form").attr("action"), {search_top_artist: $("#search_top_artist").val(), set_counter_top_artists: $("#set_counter_top_artists").val(), radiostation_id: $("#top_artists_radiostation").val(), target: 'top-artists-table'}, null, "script");
  });
  $("#top_artists_radiostation").change(function(){
    $.get($("#search_top_artist_form").attr("action"), {search_top_artist: $("#search_top_artist").val(), set_counter_top_artists: $("#set-counter-top-artists").val(), radiostation_id: $("#top_artists_radiostation").val(), target: 'top-artists-table'}, null, "script");
  });
</script>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<script>
  $(".toggle-table-icon-90").click(function() {
    $(this).parent().next("div.content").slideToggle();
    $(this).toggleClass("toggle-table-icon");
    $(this).toggleClass("toggle-table-icon-90");
  });

  $('.toggle-table-icon-90').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
    $(this).removeClass("animated tada");
    $(this).animate({
      '-webkit-transform': 'rotate(90deg)',
      '-moz-transform': 'rotate(90deg)',
      '-ms-transform': 'rotate(90deg)',
      '-o-transform': 'rotate(90deg)',
      'transform': 'rotate(90deg)',
    });
  });

  $(document).ready(function() {
    $(".toggle-table-icon-90").addClass("animated tada");
  });
</script>
