<section id="section-1">
  <div id="head" class="center">General Playlist</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center">All radiostations</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Radiostation</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @generalplaylists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.radiostation.name %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col S12 M4 L4">
      <h4 class="center">Top 10 songs</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Total week</th>
        </tr>
        <% @top10songsweek.each do |song| %>
        <tr>
          <td><%= @counter += 1 %></td>
          <% if song.artist_id != nil %>
            <td><%= song.artist.name %></td>
            <% else %>
              <td> - </td>
          <% end %>
          <td><%= song.title %></td>
          <td><%= song.week_counter %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
<section id="section-2">
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center">Radio Veronica</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @veronicaplaylists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %>                                                                                                            </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col S12 M4 L4">
      <h4 class="center">Radio 538</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @radio538playlists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %>                                                                                                            </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col S12 M4 L4">
      <h4 class="center">Radio 2</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @radio2playlists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %>                                                                                                            </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col S12 M4 L4">
      <h4 class="center">Sublime FM</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @sublimefmplaylists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %>                                                                                                            </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col S12 M4 L4">
      <h4 class="center">Groot Nieuws Radio</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @gnrplaylists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %>                                                                                                            </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
