<section id="section-1" class="full-window-height">
  <div class="head center vertical-center">Radio Playlists</div>
  <div class="center vertical-center"><%= render 'layouts/navgp' %></div>
  <div class="center vertical-bottom"><a href="#section-2"><i class="material-icons md-48">expand_more</i></a></div>
</section>

<section id="section-2">
  <div class="head center">Charts</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center"><a href="/generalplaylists/today_played_songs">Last played songs</a></h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Radiostation</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @generalplaylists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.radiostation.name %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col S12 M4 L4">
      <h4 class="center"><a href="/generalplaylists/top_songs">Top 10 songs</a></h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Total week</th>
        </tr>
        <% @top_10_songs_week.each do |song| %>
        <tr>
          <td><%= @counter_songs += 1 %></td>
          <% if song.artist_id != nil %>
            <td><%= song.artist.name %></td>
            <% else %>
              <td> - </td>
          <% end %>
          <td><%= song.title %></td>
          <td><%= song.week_counter %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col S12 M4 L4">
      <h4 class="center"><a href="/generalplaylists/top_artists">Top 10 artists</a></h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Total week</th>
        </tr>
        <% @top_10_artists_week.each do |artist| %>
        <tr>
          <td><%= @counter_artists += 1 %></td>
          <td><%= artist.name %></td>
          <td><%= artist.week_counter %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="container row">
    <%= form_tag '/generalplaylists/song_details', :method => 'get', role:"search" do  %>
      <p>
        <%= text_field_tag :search_fullname, params[:search], placeholder: "Search artist or song...", data: { autocomplete_source: autocomplete_generalplaylists_path } %>
        <%= submit_tag "Search", :name => nil, class: "waves-effect waves-light btn grey" %>
      <p>
    <% end %>
  </div>
  <div class="container row">
    <div><a href="#section-1"><i class="material-icons md-48">expand_less</i></a></div>
  </div>
</section>

<section id="section-3">
  <div class="head center">Radio Veronica</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center">Last Played</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @veronicaplaylists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col s12 m4 l4">
      <h4 class="center">Top played Songs</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Count</th>
        </tr>
        <% @top_songs_radio_veronica.each do |song| %>
          <% song_id = song[0] %>
          <% song_count = song[1] %>
          <% song_name = Song.find(song_id) %>
        <tr>
          <td><%= @counter_top_songs_radio_veronica += 1 %></td>
          <td><%= song_name.artist.name %></td>
          <td><%= song_name.title %></td>
          <td><%= song_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="container row">
    <div><a href="#section-1"><i class="material-icons md-48">expand_less</i></a></div>
  </div>
</section>

<section id="section-4">
  <div class="head center">Radio 538</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center">Last Played</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @radio538playlists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col s12 m4 l4">
      <h4 class="center">Top played Songs</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Count</th>
        </tr>
        <% @top_songs_radio_538.each do |song| %>
          <% song_id = song[0] %>
          <% song_count = song[1] %>
          <% song_name = Song.find(song_id) %>
        <tr>
          <td><%= @counter_top_songs_radio_538 += 1 %></td>
          <td><%= song_name.artist.name %></td>
          <td><%= song_name.title %></td>
          <td><%= song_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="container row">
    <div><a href="#section-1"><i class="material-icons md-48">expand_less</i></a></div>
  </div>
</section>

<section id="section-5">
  <div class="head center">Radio 2</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center">Last Played</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @radio2playlists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col s12 m4 l4">
      <h4 class="center">Top played Songs</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Count</th>
        </tr>
        <% @top_songs_radio_2.each do |song| %>
          <% song_id = song[0] %>
          <% song_count = song[1] %>
          <% song_name = Song.find(song_id) %>
        <tr>
          <td><%= @counter_top_songs_radio_2 += 1 %></td>
          <td><%= song_name.artist.name %></td>
          <td><%= song_name.title %></td>
          <td><%= song_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="container row">
    <div><a href="#section-1"><i class="material-icons md-48">expand_less</i></a></div>
  </div>
</section>

<section id="section-6">
  <div class="head center">Sublime FM</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center">Last Played</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @sublimefmplaylists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col s12 m4 l4">
      <h4 class="center">Top played Songs</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Count</th>
        </tr>
        <% @top_songs_sublime_fm.each do |song| %>
          <% song_id = song[0] %>
          <% song_count = song[1] %>
          <% song_name = Song.find(song_id) %>
        <tr>
          <td><%= @counter_top_songs_sublime_fm += 1 %></td>
          <td><%= song_name.artist.name %></td>
          <td><%= song_name.title %></td>
          <td><%= song_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="container row">
    <div><a href="#section-1"><i class="material-icons md-48">expand_less</i></a></div>
  </div>
</section>

<section id="section-7">
  <div class="head center">Groot Nieuws Radio</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center">Last Played</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @gnrplaylists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col s12 m4 l4">
      <h4 class="center">Top played Songs</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Count</th>
        </tr>
        <% @top_songs_groot_nieuws_radio.each do |song| %>
          <% song_id = song[0] %>
          <% song_count = song[1] %>
          <% song_name = Song.find(song_id) %>
        <tr>
          <td><%= @counter_top_songs_grootnieuws_radio += 1 %></td>
          <td><%= song_name.artist.name %></td>
          <td><%= song_name.title %></td>
          <td><%= song_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="container row">
    <div><a href="#section-1"><i class="material-icons md-48">expand_less</i></a></div>
  </div>
</section>

<section id="section-8">
  <div class="head center">Sky Radio</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center">Last Played</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @sky_radio_playlists.each do |generalplaylist| %>
        <tr>
          <td><%= generalplaylist.time %></td>
          <td><%= generalplaylist.artist.name %></td>
          <td><%= generalplaylist.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col s12 m4 l4">
      <h4 class="center">Top played Songs</h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Count</th>
        </tr>
        <% @top_songs_sky_radio.each do |song| %>
          <% song_id = song[0] %>
          <% song_count = song[1] %>
          <% song_name = Song.find(song_id) %>
        <tr>
          <td><%= @counter_top_songs_sky_radio += 1 %></td>
          <td><%= song_name.artist.name %></td>
          <td><%= song_name.title %></td>
          <td><%= song_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="container row">
    <div><a href="#section-1"><i class="material-icons md-48">expand_less</i></a></div>
  </div>
</section>
