<h1>General Playlist</h1>

<% @generalplaylists.each do |generalplaylist| %>
  <table class="striped">
    <tr>
      <td>
        <%= date(generalplaylist.created_at) %>
      </td>
      <td>
        <%= generalplaylist.time %>
      </td>
      <td>
        <%= radiostation_name(generalplaylist.radiostation_id) %>
      </td>
      <td>
        <%= artist_name(generalplaylist.artist_id) %>
      </td>
      <td>
        <%= song_title(generalplaylist.song_id) %>
      </td>
    <tr>
  </table>
<% end %>
