<h1>General Playlist</h1>
  <table class="striped">
    <tr>
      <th>
        Date
      </th>
      <th>
        Time
      </th>
      <th>
        Radiostation
      </th>
      <th>
        Artist
      </th>
      <th>
        Title
      </th>
    </tr>
    <% @generalplaylists.each do |generalplaylist| %>
    <tr>
      <td>
        <%= date(generalplaylist.created_at) %>
      </td>
      <td>
        <%= generalplaylist.time %>
      </td>
      <td>
        <%= radiostation_name(generalplaylist.radiostation_id) %>
      </td>
      <td>
        <%= artist_name(generalplaylist.artist_id) %>
      </td>
      <td>
        <%= song_title(generalplaylist.song_id) %>
      </td>
    <tr>
    <% end %>
  </table>
