<section id="section-1" class="full-window-height">
  <div class="head center">
    Radio Playlists<br>
  </div>

  <div class="container row">
    <div class="col s12 m12 l6">
      <h3 class="center">Top 3 songs</h3>
      <%= form_tag("/generalplaylists", method: :get, id: "search_top_song_form" ) do %>
        <label for="search_top_song">Search song title</label>
        <%= text_field_tag "search_top_song", nil, placeholder: "Search for song...", class: "materialize-textarea", autocomplete: "off" %>
      <% end %>
      <table>
        <thead>
          <tr>
            <th>
              Artist
            </th>
            <th>
              Title
            </th>
            <th>
              Total
            </th>
          </tr>
        </thead>
        <tbody id="top-songs-table">
            <%= render partial: 'top_songs' %>
        </tbody>
      </table>
    </div>

    <div class="col s12 m12 l6">
      <h3 class="center">Top 3 artist</h3>
      <%= form_tag("/generalplaylists", method: :get, id: "search_top_artist_form" ) do %>
        <label for="search_top_artist">Search artist name</label>
        <%= text_field_tag "search_top_artist", nil, placeholder: "Search for artist...", class: "materialize-textarea", autocomplete: "off" %>
      <% end %>
      <table>
        <thead>
          <tr>
            <th>
              Artist
            </th>
            <th>
              Total
            </th>
          </tr>
        </thead>
        <tbody id="top-artists-table">
            <%= render partial: 'top_artists' %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  $("#search_top_song_form input").keyup(function(){
    $.get($("#search_top_song_form").attr("action"), {search_top_song: $("#search_top_song").val(), target: 'top-songs-table'}, null, "script");
  });

  $("#search_top_artist_form input").keyup(function() {
    $.get($("#search_top_artist_form").attr("action"), {search_top_artist: $("#search_top_artist").val(), target: 'top-artists-table'}, null, "script");
  })
</script>
