<section id="section-1">
  <div class="head center">Details for <%= params[:search_fullname] if params[:search_fullname].present? %></div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <% @details.each do |detail| %>
      <hr>
      <h4 class="center"><%= detail.artist.name %> - <%= detail.title %></a></h4>
      <table class="songdetail-playlist-table">
        <h5>Counters</h5>
        <tr>
          <th>Artist</th>
          <th>Title</th>
          <th>Today</th>
          <th>Week</th>
          <th>Month</th>
          <th>Year</thd>
          <th>Total</th>
        </tr>
        <tr>
          <td><%= detail.artist.name %></td>
          <td><%= detail.title %></td>
          <td><%= detail.day_counter %></td>
          <td><%= detail.week_counter %></td>
          <td><%= detail.month_counter %></td>
          <td><%= detail.year_counter %></td>
          <td><%= detail.total_counter %></td>
        </tr>
        </table>
        <h5>Played @</h5>
        <% @generalplaylist = Generalplaylist.where("song_id = ?", detail.id) %>
        <% @generalplaylist.each do |generalplaylist| %>
          <table class="songdetail-playlist-table">
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Radiostation</th>
              <th>Artist</th>
              <th>Title</th>
            </tr>
            <tr>
              <td><%= generalplaylist.created_at.strftime("%d %b %Y") %></td>
              <td><%= generalplaylist.time %></td>
              <td><%= generalplaylist.radiostation.name %></td>
              <td><%= generalplaylist.artist.name %></td>
              <td><%= generalplaylist.song.title %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
    </div>
</div>
  <div class="container row">
    <a href="/generalplaylists"><i class="material-icons md-48">chevron_left</i></a>
  </div>
</section>
