<!DOCTYPE html>
<html>
<head>
  <title>RadioPlaylists</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'tailwind', "data-turbo-track": "reload", media: 'all' %>

  <%= favicon_link_tag 'radio.png' %>
  <%= favicon_link_tag 'radio.png', rel: 'apple-touch-icon', type: 'image/png' %>
</head>
<body>
    <main class="container mx-auto mt-28 px-5 flex">
  
<%= yield %>
    </main>

</body>
</html>
